@import './fonts/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply antialiased;
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}
